body {
	background: #f4e8c6;
}

.logo {
	height: 240px;
}

#name {
	font-size: 45px;
	/*font-family: 'Kaushan Script', cursive;*/
	/*font-family: 'Great Vibes', cursive;*/
	font-family: 'Ewert', cursive;
	-webkit-text-fill-color: red;
	word-wrap: break-word;
	position: absolute;
	margin-top: 50px;
	
}

#instructions {
	font-size: 1.4em;
}

#snapShot {
	background-color: blue;
}

button#snapShot:active {
	border-color: none;
}

button#snapShot:focus {
	outline: none;
}

#approveSnapShot {
	background-color: green;
	margin-right: 3.5px;
}

button#approveSnapShot:active {
	border-color: none;
}

button#approveSnapShot:focus {
	outline: none;
}

#retakeSnapShot {
	background-color: red;
}

button#retakeSnapShot:active {
	border-color: none;
}

button#retakeSnapShot:focus {
	outline: none;
}

span.glyphicon.glyphicon {
	color: white;
}

#refresh {
	background-color: blue;
}

